.headerContainer{
    display: flex;
padding: 36.001px 25.819px 34.623px 26px;
justify-content: space-around;
align-items: center;
gap: 235.213px;
background: #FFF7ED;
width: 100%;
height: 111.62353px;
    

}

.headerContainer a{

    text-decoration: none;
}

.headerLogo{

    width: 144.513px;
    color: #000;
font-family: Inter;
font-size: 25.353px;
font-style: normal;
font-weight: 900;
line-height: 40.271px; /* 158.842% */
}

.headerNavmenu {


}
.linkStyle{
    text-decoration: none;
    margin-left: 10px;
    color: #4D4D4D;
text-align: right;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 22.923px; /* 143.267% */
}

